<div class="welcome">Labas {{guest.name}}</div>


<div class="counter">
  <div class="number" [ngClass]="{
      'positive': guest.points >= 5,
      'big': true,
      'negative': guest.points <= -5}" [ngStyle]="{'font-size.px': 48 + guest.points}">
    {{guest.points}}
  </div>
  <button class="prideti" (click)="guest.add()">Prideti</button>
  <button class="atimti" (click)="guest.substract()">Atimti</button>
</div>

<div class="message" *ngIf="guest.points >= 10">
  Vaje vaje, koks geras svecias {{guest.name}}
</div>

<div class="friends">
  <h2>
    Draugai:
  </h2>
  <div *ngFor="let friend of friends; index as index">
    {{index+1}}. {{friend}}

    <button (click)="removeFriend(index)">Pasalinti</button>
  </div>
  <button (click)="friends.length = 0">Pasalinti visus</button>
</div>